<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|PT+Sans|Arvo' rel='stylesheet' type='text/css'>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              {% for cat in site.categories %}
              <a class="extra" href="/{{ cat[0] }}.html">{{ cat[0] }}</a>
              {% endfor %}
              <a class="extra" href="/posts.html">posts</a>
            </div>

            {{ content }}

          </div>
        </div> <!-- /container -->

    </body>
</html>
